<!-- Interior Design -->
<div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="true" aria-controls="flush-collapseOne">
            {{ main.accordion_interior_title }}
        </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse show" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
            <div class="row justify-content-between">
                <div class="col-md-4">
                    <img src="{{ main.accordion_interior_image.url }}" alt="Interior Design Image" class="img-fluid">
                </div>
                <div class="col-md-8">
                    <p>{{ main.accordion_interior_content }}</p>
                    <a href="#" class="more-2">Learn more <span class="icon-arrow_forward"></span></a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Landscape Design -->
<div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            {{ main.accordion_landscape_title }}
        </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
            <div class="row justify-content-between">
                <div class="col-md-4">
                    <img src="{{ main.accordion_landscape_image.url }}" alt="Landscape Design Image" class="img-fluid">
                </div>
                <div class="col-md-8">
                    <p>{{ main.accordion_landscape_content }}</p>
                    <a href="#" class="more-2">Learn more <span class="icon-arrow_forward"></span></a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Engineering Plan -->
<div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
            {{ main.accordion_engineering_title }}
        </button>
    </h2>
    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
            <div class="row justify-content-between">
                <div class="col-md-4">
                    <img src="{{ main.accordion_engineering_image.url }}" alt="Engineering Plan Image" class="img-fluid">
                </div>
                <div class="col-md-8">
                    <p>{{ main.accordion_engineering_content }}</p>
                    <a href="#" class="more-2">Learn more <span class="icon-arrow_forward"></span></a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Architecture Design -->
<div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingFour">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
            {{ main.accordion_architecture_title }}
        </button>
    </h2>
    <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
            <div class="row justify-content-between">
                <div class="col-md-4">
                    <img src="{{ main.accordion_architecture_image.url }}" alt="Architecture Design Image" class="img-fluid">
                </div>
                <div class="col-md-8">
                    <p>{{ main.accordion_architecture_content }}</p>
                    <a href="#" class="more-2">Learn more <span class="icon-arrow_forward"></span></a>
                </div>
            </div>
        </div>
    </div>
</div>