<!DOCTYPE html>
<html lang="tr">
{% load static %}
{% include 'base/head.html' %}

<head>
    <!-- SEO Keywords ve Description -->
    {% include 'base/seo_keywords.html' %}
    
    <!-- Ek bölgesel meta etiketleri -->
    <link rel="canonical" href="https://www.miarsmimarlik.com{{ request.path }}">
    <meta name="robots" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1">
</head>

<body>

    {% include 'base/navbar.html' %}


    {% block content %}




    {% endblock content %}

    <!-- SEO için gizli içerik -->
    {% block seo_content %}{% endblock %}

    {% include 'base/footer.html' %}
    {% include 'base/script.html' %}




    {% block extra_js %}

    {% endblock extra_js %}

</html>